.blog {
	grid-column: center-start/center-end;

	display: grid;

	padding: 5rem 0;

	.title-box {
		justify-self: center;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap: 5rem;
	}

	&__box {
		img {}

		p {
			margin: 1rem 0;

			span {
				font-size: 1.4rem;
				color: rgba(#000, 0.7);
				margin-right: 2rem;

				i {}
			}
		}

		h3 {
			color: rgba(#000, 0.9);
		}

		p {}
	}
}