.feature {
	grid-column: center-start/center-end;

	display: grid;
	justify-items: center;

	padding: 5rem 0;

	&__container {
		justify-self: stretch;

		font-size: 2rem;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 2rem;
	}

	&__tab {
		margin: 3rem 0;

		span {
			font-size: 2rem;

		}
	}

	&__item {
		text-align: center;
		cursor: pointer;

		&:hover div ul {
			bottom: 2rem;
		}

		div {
			position: relative;
			overflow: hidden;

			img {
				display: block;
			}

			ul {
				position: absolute;
				display: grid;
				grid-auto-flow: column;
				gap: 1rem;
				bottom: -6rem;
				left: 50%;
				transform: translateX(-50%);
				transition: all 0.5s linear;

				li {
					a {
						width: 4rem;
						height: 4rem;
						border-radius: 50%;
						background-color: transparent;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: all 0.3s linear;

						i {
							font-size: 1.5rem;
							color: $color3;
							transition: all 0.3s linear;
						}

						&:hover {
							background-color: $color4;
						}

						&:hover i {
							transform: rotate(360deg);
							color: $color1;
						}
					}
				}
			}
		}

		p {
			line-height: 1;
		}

		strong {
			color: #000000;
		}
	}
}