//MEDIA
$bp-1200:75em;

//COLOR
$color1:#F5F5F5;
$color2:#000;
$color3:#222;
$color4:#7FAD39;

:root {
	--gap: 10rem;
	--font10: 10rem;
}


@media only screen and (max-width: $bp-1200) {
	:root {
		--gap: 7rem;
	}
}